<div id="<%= dom_id shipment_detail %>">
  <p>
    <strong>Shipment:</strong>
    <%= shipment_detail.shipment_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= shipment_detail.book_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= shipment_detail.quantity %>
  </p>

</div>
