<div id="<%= dom_id shipment %>">
  <p>
    <strong>Supplier:</strong>
    <%= shipment.supplier_id %>
  </p>

  <p>
    <strong>Received at:</strong>
    <%= shipment.received_at %>
  </p>

  <p>
    <strong>Staff:</strong>
    <%= shipment.staff_id %>
  </p>

</div>
